.aboutMeSection{
    display: flex;
    padding: 50px 100px;
    align-items: center;
}
.letsWork{
    font-size: 80px;
    font-weight: 600;
    width: 50%;

}
.about{
    font-size: 20px;
    width: 50%;
}