.aboutMeSection{
    display: flex;
    padding: 50px 100px;
    align-items: center;
    gap: 50px;
}
.letsWork{
    font-size: 80px;
    font-weight: 600;
    width: 50%;
    color: rgb(105, 105, 105);

}
.about{
    font-size: 20px;
}
.btnTextWrap{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.btn{
    height: 60px;
    width: 180px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    &:hover{
        background-color: rgb(97, 132, 247);
        color: white;
    }
}
@media ( max-width: 900px){
    .aboutMeSection{
        flex-direction: column;
        padding: 50px 4%;
    }
    .btnTextWrap{
        width: 90%;
    }
    .letsWork{
        font-size: 60px;
        width: 90%;
    }
}
@media ( max-width: 700px){
    .letsWork{
        font-size: 40px;
       
    
    }
}