<div class="fullsite">
  <div class="herosection">

    
    <div class="headlineLinks">
        <a href="#">About me</a>
        <a href="#">Skill set</a>
        <a href="#">My work</a>
    </div>
    <img src="assets/Portfolio Bilder00533 Kopie.png">
    <div>
        <div class="tagline" style="justify-content: flex-end;">
          <span style="font-weight: 100; font-size: 6.5vh;">Hello! I am Patrick</span>
          <span>FRONTEND</span>  
          <span>DEVELOPER</span>  
        </div>
        <div class="scroll">
          <span>Scroll</span>
          <div class="bar"></div>
        </div>
    </div>
    
    <div class="imgBg"></div>
  </div>
</div>