<div class="contactForm">
    <h2>Contact</h2>
    <div class="formBlock">
        <div class="text" style="width: 50%;">
            <span id="topLine">Got a problem to solve?</span>
            <span  id="description">Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</span>
            <span id="bottomLine">Need a Frontend developer? <b>Contact me!</b></span>
        </div>
        <div class="formArea">
            <form class="text center" action="" method="post" >
                <input type="text" required placeholder="Your name" name="" id="name">
                <input type="text" required placeholder="Your email" name=""  id="email">
                <textarea placeholder="Your massage" required name="" id="massage" cols="30" rows="10"></textarea>
                <button id="btn">Say hello ;)</button>
            </form>
            
        </div>
    </div>
</div>
