<div class="myWork">
    <h2>My work</h2>
    <span>This page is a sample of my work - please feel free to try them out.</span>

    <div class="project">
        <img src="assets/Component 3.png" >
        <div class="textBlock">
            <div class="text">
                <span id="name">Join</span>
                <span id="tec">Angular | TypeScript | HTML | CSS | Firebase</span>
                <span id="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
            </div>
            <div class="btn">
                <button>Github</button>
                <button>Live test</button>
            </div>
        </div>
    </div>
    <div class="project" style="flex-direction: row-reverse;">
        <img src="assets/Component 3.png" >
        <div class="textBlock" style="align-items: flex-end;">
            <div class="text" style="align-items: flex-end;">
                <span id="name">Join</span>
                <span id="tec">Angular | TypeScript | HTML | CSS | Firebase</span>
                <span id="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
            </div>
            <div class="btn">
                <button>Github</button>
                <button>Live test</button>
            </div>
        </div>
    </div>
    <div class="project">
        <img src="assets/Component 3.png" >
        <div class="textBlock">
            <div class="text">
                <span id="name">Join</span>
                <span id="tec">Angular | TypeScript | HTML | CSS | Firebase</span>
                <span id="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
            </div>
            <div class="btn">
                <button>Github</button>
                <button>Live test</button>
            </div>
        </div>
    </div>
    <div class="project" style="flex-direction: row-reverse;">
        <img src="assets/Component 3.png" >
        <div class="textBlock" style="align-items: flex-end;">
            <div class="text" style="align-items: flex-end;">
                <span id="name">Join</span>
                <span id="tec">Angular | TypeScript | HTML | CSS | Firebase</span>
                <span id="description">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. </span>
            </div>
            <div class="btn">
                <button>Github</button>
                <button>Live test</button>
            </div>
        </div>
    </div>
</div>
