<div class="myWork">
    <h2>My work</h2>
    <span>This page is a sample of my work - please feel free to try them out.</span>

    <div *ngFor="let project of projectList; let i = index" [class.flip]="i % 2" class="project">
        <img src="{{ project.image}}" >
        <div [class.flipSide]="i % 2" class="textBlock">
            <div [class.flipSide]="i % 2" class="text">
                <span  id="name">{{project.name}}</span>
                <span id="tec">{{ project.tec}}</span>
                <span id="description">{{ project.description }}</span>
            </div>
            <div class="btn">
                <button (click)="link(project.gitLink)" >Github</button>
                <button (click)="link(project.liveLink)">Live test</button>
            </div>
        </div>
    </div>
    
</div>
