.myWork{
    width: 80%;
    margin: 0 10%;
    h2{
        font-size: 80px;
        font-weight: 600;
        color: rgb(105, 105, 105);
    }
    span{
        font-size: 20px;
    }
}
.project{
    display: flex;
    align-items: flex-end;
    gap: 50px;
    margin: 100px 0;
    .textBlock{
        display: flex;
        flex-direction: column;
        .text{
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-bottom: 30px;
            #name{
                font-size: 50px;
                font-weight: 600;
                color: rgb(105, 105, 105);
            }
            #tec{
                font-size: 30px;
                color:rgb(97, 132, 247) ;
            }
            #description{
                font-size: 20px;
            }
        }
        .btn{
           display: flex;
           gap: 20px;
            button{ 
                height: 60px;
                width: 120px;
                border: 1px solid black;
                border-radius: 10px;
                background-color: transparent;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
                &:hover{
                    background-color: rgb(97, 132, 247);
                    color: white;
                }
            }
        }
    }
    img{
        width: 40vw;
    }
    
}
.flip{
    flex-direction: row-reverse;
}
.flipSide{
   align-items: flex-end;
    text-align: end;
}
@media ( max-width: 900px){
    .project{
        
        flex-direction: column;
        align-items: center;
       
        margin: 5% 0;
        .textBlock{
            align-items: center;
            .text{
               align-items: center;
                #name{
                    font-size:40px;
                  
                }
                #tec{
                    font-size: 20px;
                  
                }
                #description{
                    font-size: 15px;
                }
            }
           
        }
        img{
            width: 80vw;
        }
        
    }
    .flip{
        flex-direction: column;
    }
    .flipSide{
       align-items: center;
        text-align: unset;
    }
}
@media ( max-width: 700px){
    .myWork{
       
        h2{
            font-size: 40px;
            
        }
       
    }
}